<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <!-- postcss-px-to-viewport 替代移动端手淘自适应的方案 开始 -->
  <script src="/static/common/auto-scale.js"></script>
  <!-- postcss-px-to-viewport 替代移动端手淘自适应的方案 结束 -->
</head>
<body>
  <div id="root"></div>
  <script src="/static/vendor/index.js"></script>
  <script src="/static/runtime/index.js"></script>
</body>
</html>
